{% extends 'course/layout.html' %}
{% load static %}

{% block title %}
    My Course
{% endblock %}

{% block css%}
    <link rel="stylesheet" href="{%static "course/mcourse.css"%}">
{% endblock %}


{% block content %}
    <header>
        <h1>{{name.student_surname}}  {{name.student_lasname}}</h1>
    </header>


    <main>
    <div class="content">
    <h2>My Course</h2>
    {% for i in  subject%}
        <form method="post" action="{% url 'delete_subject'%}">
            <li>
                
                {% csrf_token %}
                {{ form.as_p }}
                <p>{{i}} <input type="hidden" name="course_id" value="{{ i }}" ></p>
                <button type="submit" >delete</button>
            </li>
        </form>
    {% endfor %}
    </div>
    </main>
    

    <footer>
        <form method="post" action="{% url 'register'%}">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button type="submit" >Register page</button>
        </form>
    </footer>
{% endblock %}