{% extends 'registration/layout.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <form action="{% url 'login' %}" method="post" class="box">
                    {% csrf_token %}
                    <h1>Login</h1>
                    <input type="text" name="username" placeholder="Username">
                    <input type="password" name="password" placeholder="Password">
                    <input type="submit" name="" value="Login" href="#">
                </form>
                {% if error_message %}
                    {{error_message}}
                {% endif %} 
            </div>
        </div>
    </div>
</div>
{% endblock %}